* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Roboto;
  background-color: black;
}

.App {
  display: grid;
  background-color: black;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-rows: 50px 1fr 50px;
  overflow: hidden;
}

.Header {
  display: flex;
  background-color: #FF0025;    
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 75px 75px;
  padding: 0 50px;
}

.Header .Logo {
  width: 32px;
  height: 32px;
}

.Header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 430px;
  padding: 0 10px;
}

.Header nav a {
  font-size: 22px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.Footer {
  background-color: #F8E800;
  border-radius: 75px 75px 0px 0px;
}

.Content {
  display: grid;
  background-color: black;
  /*grid-template: 100vh / repeat(2, 1fr);*/
  grid-template-columns: repeat(2, 1fr);
  /*grid-template-rows: 1fr;*/
  max-height: 80vh;
  overflow-y: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App .Loader {
    font-size: 68px;
    animation: Loader-spin infinite 5s linear;
  }
}

@keyframes Loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MatchList {
  width: 600px;
  height: 535px;
  overflow: overlay;
}

.MatchList .MatchLink {
  list-style: none;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  width: 450px;
  text-align: center;
  background-color: rgb(128, 128, 128, 0.15);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.MatchList .MatchLink.finished {
  background-color: rgba(0, 130, 50, 0.15);
}

.MatchList .MatchLink:hover {
  transform: scale(1.2);
}

.MatchList .MatchLink > p {
  margin: 0;
  height: 18px;
}

.MatchList .MatchLink .MatchTitle {
  float: left;
  font-size: 12px;
  font-weight: bold;
}

.MatchList .MatchLink .MatchTime {
  float: right;
}

.MatchList .MatchLink .MatchLegion {
  float: left;
}

.MatchList .MatchLink .MatchRegion {
  float: right;
}

.MatchItem {
  height: 535px;
  overflow: overlay;
}

.MatchItem .MatchInfo {
  text-align: left;
  margin: 10px;
}

.MatchItem .EventList {
  /* margin: auto; */
  width: 550px;
}

.MatchItem .EventList .home { text-align: left; }

.MatchItem .EventList .away { text-align: right; }

.MatchItem .EventList .ball-safe { 
  color: rgba(55, 172, 81, 0.438);
  display: none; 
}

.MatchItem .EventList .attack { 
  color: orange;
  display: none; 
}

.MatchItem .EventList .dangerous-attack { 
  color: red;
  display: none; 
}

.MatchItem .EventList .throw-in {
  color: #ffeb66;
}

.MatchItem .EventList .free-kick {
  color: #a6ddff;
}

.MatchItem .EventList .goal-kick {
  color: #85f2ef;
}

.MatchItem .EventList .corner-kick {
  color: #feb2d5;
}

.MatchItem .EventList .offside {
  color: #d6b2ff;
}

.MatchItem .EventList .goal {
  color: #ffc6a6;
}