.App {
  text-align: center;
  display: grid;
  overflow: hidden;
  height: auto;
  max-height: 100%;
  grid-template-columns: minmax(300px, 10%), minmax(500px, 80%), minmax(300px, 10%);
  grid-template-rows: minmax(100px, 10%), minmax(500px, 80%), minmax(200px, 10%);
}

.Header {
  position: fixed;
  width: 100%;
  background-color: #ff600b;
  grid-column: 1 / 4;
  grid-row: 1;
  min-height: 50px;
  z-index: 999;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
  box-shadow: 0 10px 20px rgba(14, 8, 8, 0.19), 0 6px 6px rgba(0,0,0,0.23); 
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #00c713;
  grid-column: 1 / 4;
  grid-row: 3;
  min-height: 50px;
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
  box-shadow: 0 -10px 10px rgb(14 8 8 / 19%), 0 -6px 6px rgb(0 0 0 / 23%);
}

.Content {
  display: flex;
  padding: 55px 0;  
  grid-column: 1 / 4;
  grid-row: 2;
  background-color: black;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App .Loader {
    font-size: 68px;
    animation: Loader-spin infinite 5s linear;
  }
}

@keyframes Loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MatchList {
  width: 600px;
  height: 535px;
  overflow: overlay;
}

.MatchList .MatchLink {
  list-style: none;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  width: 450px;
  text-align: center;
  background-color: rgb(128, 128, 128, 0.15);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.MatchList .MatchLink.finished {
  background-color: rgba(0, 130, 50, 0.15);
}

.MatchList .MatchLink:hover {
  transform: scale(1.2);
}

.MatchList .MatchLink > p {
  margin: 0;
  height: 18px;
}

.MatchList .MatchLink .MatchTitle {
  float: left;
  font-size: 12px;
  font-weight: bold;
}

.MatchList .MatchLink .MatchTime {
  float: right;
}

.MatchList .MatchLink .MatchLegion {
  float: left;
}

.MatchList .MatchLink .MatchRegion {
  float: right;
}

.MatchItem {
  height: 535px;
  overflow: overlay;
}

.MatchItem .MatchInfo {
  text-align: left;
  margin: 10px;
}

.MatchItem .EventList {
  /* margin: auto; */
  width: 550px;
}

.MatchItem .EventList .home { text-align: left; }

.MatchItem .EventList .away { text-align: right; }

.MatchItem .EventList .ball-safe { 
  color: rgba(55, 172, 81, 0.438);
  display: none; 
}

.MatchItem .EventList .attack { 
  color: orange;
  display: none; 
}

.MatchItem .EventList .dangerous-attack { 
  color: red;
  display: none; 
}

.MatchItem .EventList .throw-in {
  color: #ffeb66;
}

.MatchItem .EventList .free-kick {
  color: #a6ddff;
}

.MatchItem .EventList .goal-kick {
  color: #85f2ef;
}

.MatchItem .EventList .corner-kick {
  color: #feb2d5;
}

.MatchItem .EventList .offside {
  color: #d6b2ff;
}

.MatchItem .EventList .goal {
  color: #ffc6a6;
}